html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.preformatted {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.toast-notification {
    bottom: 3rem;
    right: 2rem;
    width: 450px;
    z-index: 1055;
}
